@using Sismuni.Presentacion.Web.Resources;
@using Sismuni.Presentacion.Web.Helpers.Html
@using System.ComponentModel;
@using Sismuni.Presentacion.Web.Helpers;

<link href="~/Resources/Template/css/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Resources/Template/js/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="~/Resources/Template/js/plugins/datepicker/locales/bootstrap-datepicker.es.js"></script>

<link href="~/Resources/Template/css/NewTransparencia.css" rel="stylesheet" />

@model Sismuni.Presentacion.Web.Models.TesoreriaFinanza.GestionPago.GestionPagoViewModel

@{
    ViewBag.Titulo =  "Gestión de Solicitud de Pagos";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@using (Html.BeginSecureForm("Buscar", "GestionPagoBandeja", FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "formPago" }))
{
    <div>


        <ul class="form">
            <li class="columna33">
                <label for="NroSolicitudAsignacion">Nro. Solicitud</label>
                <div>
                    @*<input type="text" id="txtNroSolicitud" style="width: 100%" />*@
                    @Html.TextBoxFor(m => m.FiltroBusqueda.NumSolicitudPago, new { @class = "form-control" })
                </div>
                <label for="NroSolicitudAsignacion">DNI Contribuyente </label>
                <div>
                    @Html.TextBoxFor(m => m.FiltroBusqueda.DNI, new { @class = "form-control" })
                    @*<input type="text" id="txtDNI" style="width: 100%" />*@
                </div>
            </li>
            <li class="columna" style="clear:both">
                <label for="IdArea">Fecha Inicio</label>
                <div>
                    @Html.TextBox("FiltroBusqueda.FechaInicio",
                                Model.FiltroBusqueda.FechaInicio == null ? string.Empty : Model.FiltroBusqueda.FechaInicio.Value.ToString(Formatos.FechaCorta),
                                new { @class = "form-control sigen-fecha-corta", @placeholder = "Fecha Inicio" })
                </div>
            </li>
            <li class="columna">
                <label for="IdArea">Fecha Fin</label>
                <div>
                    @Html.TextBox("FiltroBusqueda.FechaFin",
                                Model.FiltroBusqueda.FechaFin == null ? string.Empty : Model.FiltroBusqueda.FechaFin.Value.ToString(Formatos.FechaCorta),
                                new { @class = "form-control sigen-fecha-corta", @placeholder = "Fecha Inicio" })
                </div>
            </li>
            <li class="columna">
                <label for="NroSolicitudAsignacion">Estado </label>
                <div>
                    @Html.DropDownListFor(m => m.FiltroBusqueda.CodEstadoSolicitud, Model.ListaEstados, new { @class = "form-control", @style = "width: 20%" })
                </div>
            </li>
            <li class="columna" style="clear:both">
                <div>
                    <input name="submit2" type="submit" value="Buscar" class="myButton" />
                </div>
            </li>
            <li>
                <div style="text-align:left; margin-top:22px;">
                    <table class="grid" style="width: 100%">
                            <tr>
                                <th class="gridHeader">
                                    Nro. Solicitud
                                </th>
                                <th class="gridHeader">
                                    Fecha
                                </th>
                                <th class="gridHeader">
                                    Monto
                                </th>
                                <th class="gridHeader">
                                    Motivo
                                </th>
                                <th class="gridHeader">
                                    Contribuyente
                                </th>
                                <th class="gridHeader">
                                    Concepto
                                </th>
                                <th class="gridHeader">
                                    Estado
                                </th>
                            </tr>
                            @foreach (var item in Model.ListaSolicitudes)
                            {
                                <tr>
                                    <td class="gridColumn">
                                         @if (item.DescEstadoSolicitud == "Pendiente")
                                         {
                                             @Html.ActionLink("" + item.NumSolicitudPago, "Pagar", new { id = item.NumSolicitudPago })
                                         }else{
                                             @item.NumSolicitudPago
                                         }
                                     </td>
                                    <td class="gridColumn">
                                         @item.FechaSolicitud
                                     </td>
                                     <td class="gridColumn">
                                         @item.Monto
                                     </td>
                                     <td class="gridColumn">
                                         @item.Motivo
                                     </td>
                                    <td class="gridColumn">
                                        @item.DNI - @item.NombContribuyente
                                    </td>
                                    <td class="gridColumn">
                                        @item.DescConceptoPago
                                    </td>
                                    <td class="gridColumn">
                                        @item.DescEstadoSolicitud
                                    </td>
                                </tr>
                            }
                        </table>
                </div>
            </li>
            </ul>
</div>

}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {


        $('#FiltroBusqueda_FechaInicio').datepicker({ language: 'es', format: 'yyyy-mm-dd', autoclose: true });
        $('#FiltroBusqueda_FechaFin').datepicker({ language: 'es', format: 'yyyy-mm-dd', autoclose: true });


    });
</script>